<!DOCTYPE html>
<html>
<head>
	<title>Galeria de fotos</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Wowslider.com" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="../resources/galeria/style.css" />
	<script type="text/javascript" src="../resources/galeria/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="/*background-color:#d7d7d7*/;margin:auto">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
		<div class="ws_images">
			<ul>	
				<li style="text-align: center;">
					<img style="max-height: 200px; width: auto;" src="../arquivos/000001/000001_1.jpg" alt="o-nome-do-vento-capa" id="wows1_1"/>
				</li>
				<li style="text-align: center;">
					<img style="max-height: 200px; width: auto;" src="../arquivos/000001/000001_2.jpg" alt="o-nome-do-vento-capa" id="wows1_2"/>
				</li>
<!-- 				<li style="text-align: center;"> -->
<!-- 					<img style="max-height: 200px; width: auto;" src="../arquivos/000001/capa_3.jpg" alt="o-nome-do-vento-capa" id="wows1_2"/> -->
<!-- 				</li> -->
<!-- 				<li style="text-align: center;"> -->
<!-- 					<img style="max-height: 200px; width: auto;" src="../arquivos/000001/capa_4.jpg" alt="o-nome-do-vento-capa" id="wows1_3"/> -->
<!-- 				</li> -->
			</ul>
		</div>
		<div class="ws_bullets">
			<div>
				<a href="#" title="a-menina-que-roubava-livros"><span><img src="../resources/galeria/data1/tooltips/ameninaqueroubavalivros.jpg" alt="a-menina-que-roubava-livros"/>1</span></a>
				<a href="#" title="o-nome-do-vento-capa"><span><img src="../resources/galeria/data1/tooltips/onomedoventocapa.jpg" alt="o-nome-do-vento-capa"/>2</span></a>
<!-- 				<a href="#" title="o-nome-do-vento-capa"><span><img src="../resources/galeria/data1/tooltips/onomedoventocapa.jpg" alt="o-nome-do-vento-capa"/>3</span></a> -->
<!-- 				<a href="#" title="o-nome-do-vento-capa"><span><img src="../resources/galeria/data1/tooltips/onomedoventocapa.jpg" alt="o-nome-do-vento-capa"/>4</span></a> -->
			</div>
		</div>
		<div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wowslider.com</a> by WOWSlider.com v8.7</div>
		<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="../resources/galeria/wowslider.js"></script>
	<script type="text/javascript" src="../resources/galeria/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>